    <div class="row d-flex justify-content-center"> 
        <div class="offset-md-8">
            <table class="table table-borderless">
                <body>
                    <tr><td>UserName</td><td><input type="text" [(ngModel)]="userName"></td></tr>
                    <tr><td>Password</td><td><input type="password" [(ngModel)]="password"></td></tr>
                    <tr><td></td><td><button class="btn btn-info float-end" (click)="login()">Login</button></td></tr>
                </body>
            </table>
        </div>  
    </div>

